.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.397);
  backdrop-filter: blur(2px);

  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 480px) {
  .modal {
    height: 100vh;
    position: fixed;

    width: 100vw;
  }
}
